{% extends "bootstrap/base.html" %} {% block head %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" href="/static/css/toastr.min.css" />
<link rel="stylesheet" href="/static/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/bootstrap-toggle.min.css" />
<style>
	th,
	td {
		padding: 5px;
	}
</style>
{% endblock %} {% endblock head %} {% block body %} {% block scripts %} {{ super() }}
<script src="/static/jsroot/scripts/d3.min.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/bootstrap-toggle.min.js"></script>
<script src="/static/jsroot/scripts/JSRootCore.js"></script>
<script src="/static/jsroot/scripts/JSRootPainter.js"></script>
<script src="/static/jsroot/scripts/JSRootPainter.more.js"></script>
<script src="/static/js/rootana_functions.js"></script> {% endblock %} {% block navbar %} {{nav.mynavbar.render()}} {% endblock %} {% with messages = get_flashed_messages() %}
{% if messages %}

<ul class='flashes'>
	{% for message in messages %}
	<li>{{ message }}</li>{% endfor %}
</ul>
{% endif %} {% endwith %} {% if not get_flashed_messages() %}

<script>
	gIsPaused = false;
	gModule = {{ modlist[0] }};
	gChannel = 0;
	gRefresh = 5;
	gIntervalID = 0;
	var cfd_threshold;

	window.addEventListener("load", init);

	function init() {
		// CFD threshold spinner
		cfd_threshold = $("#cfd-spinner").spinner();
		cfd_threshold.width(50);
		cfd_threshold.spinner({ min: 0, max: 4095, change: upd_cfdthreshold, start: stop_refresh });
		//
		set_machannel(gModule, gChannel);
		histo_setup(true);
		do_refresh();
		gIntervalID = setInterval(do_refresh, gRefresh * 1000);
	}

	function start_refresh() {
		gIsPaused = false;
	}

	function stop_refresh() {
		gIsPaused = true;
	}

	function pause_resume() {
		if ($('#pause_button').prop('checked'))
			start_refresh();
		else
			stop_refresh();
	}

	function select_channel() {
		$('#graphdiv').html(""); // reset histogram
		var e = document.getElementById("sel_module");
		gModule = e.options[e.selectedIndex].value;

		var e = document.getElementById("sel_channel");
		gChannel = e.options[e.selectedIndex].value;

		set_machannel(gModule, gChannel);
		ROOTplot();
		updatePVs();
	}

	function select_refresh() {
		var e = document.getElementById("sel_refresh");
		gRefresh = e.options[e.selectedIndex].value;

		clearInterval(gIntervalID);
		gIntervalID = setInterval(do_refresh, gRefresh * 1000);
	}

	function set_machannel(mod, ch) {
		url = "/ma/out/" + mod + "/" + ch;
		getUrl(url, undefined).then(function (response) {
			jsdata = JSON.parse(response);
			if (jsdata["MA_ERROR"] != "") {
				toastr.error("Command failed:" + jsdata["MA_ERROR"])
			}
		});
	}

	function do_refresh() {
		if (gIsPaused) {
			return;
		}
		ROOTplot();
		updatePVs();
		document.getElementById("datetime").innerHTML = Date();
	}

	function reset_histogram() {
		getUrl("/ma/plot/reset", undefined).then(function (response) {
			jsdata = JSON.parse(response);
			if (jsdata["MA_ERROR"] == "") {
				toastr.info("Command successful")
				do_refresh();
			} else {
				toastr.error("Command failed:" + jsdata["MA_ERROR"])
			}
		});
	}

	function updateStatus() {
		if (gJSONdata["rbvalue"]) {
			document.getElementById("readstatus").style.color = "red";
		} else {
			document.getElementById("readstatus").style.color = "green";
		}
		document.getElementById("readstatus").innerHTML = gJSONdata["rbstatus"];
	}

	function ROOTplot() {
		getUrl("/ma/plot/data", undefined).then(function (response) {
			jsdata = JSON.parse(response);
			if (jsdata["MA_ERROR"] == "") {
				histo = JSROOT.CreateTH1(17000);
				for (var i = 0; i < jsdata.H_VALUES.length; i++) {
					histo.setBinContent(i, jsdata.H_VALUES[i]);
				}
				histo.fTitle = jsdata["H_TITLE"];
				JSROOT.redraw('graphdiv', histo, "");
				document.getElementById("dead_time").innerHTML = jsdata["H_DTIME"]
				document.getElementById("phys_time").innerHTML = jsdata["H_PTIME"];
				document.getElementById("num_events").innerHTML = jsdata["H_EVENTS"];
			} else {
				toastr.error("Command failed:" + jsdata["MA_ERROR"])
			}
		});
	}

	function updatePVs() {
		getUrl("/ma/report", undefined).then(function (response) {
			jsdata = JSON.parse(response);
			if (jsdata["MA_ERROR"] == "") {
				document.getElementById("cfdthreshold").innerHTML = jsdata["CH_CFD_THRESHOLD"];
				$("#cfd-spinner").val(jsdata["CH_CFD_THRESHOLD"]);
			} else {
				toastr.error("Command failed:" + jsdata["MA_ERROR"])
				document.getElementById("cfdthreshold").innerHTML = "ERR";
			}
		});
	}

	function writepv(name, value) {
		postdata = new FormData();
		postdata.append("PV_NAME", name);
		postdata.append("PV_VALUE", value);
		getUrl("/ma/writepv", postdata).then(function (response) {
			jsdata = JSON.parse(response);
			if (jsdata["MA_ERROR"] == "") {
				toastr.info("PV write successful");
			} else {
				toastr.error(jsdata["MA_ERROR"]);
			}
		});
	}

	function pvname(attr) {
		return ("MEGAMP:M" + gModule + ":C" + gChannel + ":" + attr);
	}

	function histo_setup(initflag = false) {
		if (initflag === true) {
			getUrl("/ma/plot/setup", undefined).then(function (response) {
				jsdata = JSON.parse(response);
				if (jsdata["MA_ERROR"] != "") {
					toastr.error(jsdata["MA_ERROR"]);
				} else {
					$('#hswitch').prop('checked',Boolean(Number(jsdata["H_SWITCH"]))).change()
					$('#hinput').prop('checked',Boolean(Number(jsdata["H_INPUT"]))).change()
					$('#hfilter').prop('checked',Boolean(Number(jsdata["H_FILTER"]))).change()
					// setup event handler
					$('#hswitch').bind("change", histo_setup)
					$('#hinput').bind("change", histo_setup)
					$('#hfilter').bind("change", histo_setup)
				}
			})
		} else {
			postdata = new FormData();
			postdata.append("H_SWITCH", Number($('#hswitch').prop('checked')));
			postdata.append("H_FILTER", Number($('#hfilter').prop('checked')));
			postdata.append("H_INPUT", Number($('#hinput').prop('checked')));
			getUrl("/ma/plot/setup", postdata).then(function (response) {
				jsdata = JSON.parse(response);
				if (jsdata["MA_ERROR"] == "") {
					toastr.info("Command successful");
				} else {
					toastr.error(jsdata["MA_ERROR"]);
				}
			});
		}
	}

	function upd_cfdthreshold(event, ui) {
		if (cfd_threshold.spinner("isValid") == true) {
			writepv(pvname("CFDThreshold"), cfd_threshold.spinner("value"));
			document.getElementById("cfdthreshold").innerHTML = cfd_threshold.spinner("value");
		} else {
			toastr.error("Value out of range");
		}
		start_refresh();
	}

</script>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">Display control</div>
				<div class="panel-body">
					<table>
						<tr>
							<th colspan="2">
								<input id="pause_button" type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-play'></i> Play" data-off="<i class='fa fa-pause'></i> Pause"
								 onchange="pause_resume();">
							</th>
						</tr>
						<tr>
							<th colspan="2">
								<button type="button" class="btn btn-primary" id="reset_button" onclick="reset_histogram();">
									<span class="glyphicon glyphicon-refresh"> Reset histogram</span>
								</button>
							</th>
						</tr>
						<tr>
							<td>
								Refresh
							</td>
							<td>
								<select class="form-control" id="sel_refresh" onclick="select_refresh();">
									<option value=1>1 second</option>
									<option value=2>2 seconds</option>
									<option value=5 selected>5 seconds</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<!-- end panel body -->
			</div>
			<!-- end panel -->
			<div class="panel panel-default">
				<div class="panel-heading">Histogram input setup</div>
				<div class="panel-body">
					<table>
						<tr>
							<td>Histogram</td>
							<td>
								<input id="hswitch" type="checkbox" checked data-width="100" data-toggle="toggle" data-size="small" data-onstyle="success"
								 data-offstyle="danger">
							</td>
						</tr>
						<tr>
							<td>Filter</td>
							<td>
								<input id="hfilter" type="checkbox" checked data-width="100" data-toggle="toggle" data-size="small" data-on="Peak Comp." data-off="CFD"
								 data-onstyle="success" data-offstyle="warning">
							</td>
						</tr>
						<tr>
							<td>Input</td>
							<td>
								<input id="hinput" type="checkbox" checked data-width="100" data-toggle="toggle" data-size="small" data-on="Megamp" data-off="Ext. Lemo"
								 data-onstyle="success" data-offstyle="warning">
							</td>
						</tr>
					</table>
				</div>
				<!-- end panel body -->
			</div>
			<!-- end panel-->
			<div class="panel panel-default">
				<div class="panel-heading">Channel parameters</div>
				<div class="panel-body">
					<table>
						<tr>
							<td>CFD Threshold [mV] </td>
							<td>
								<input id="cfd-spinner" name="value" autocomplete="off" class="ui-spinner-input" role="spinbutton">
							</td>
						</tr>

					</table>
				</div>
				<!-- end panel body -->
			</div>
			<!-- end panel -->
			<div class="panel panel-default">
				<div class="panel-heading">Parameters</div>
				<div class="panel-body">
					<h5>
						<b>CFD Threshold: </b>
						<span id="cfdthreshold">-</span> mV
					</h5>
					<h5>
						<b>Dead Time: </b>
						<span id="dead_time">-</span> %
					</h5>
					<h5>
						<b>Acquisition time: </b>
						<span id="phys_time">-</span> s
					</h5>
					<h5>
						<b>Number of events: </b>
						<span id="num_events">-</span>
					</h5>
				</div>
				<!-- end panel body-->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col -->

		<div class="col-lg-9">
			<div class="panel panel-default">
				<div class="panel-heading">Megamp selection</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4">
							<label for="sel_module">Module:</label>
							<select class="form-control" id="sel_module">
								{% for mod in modlist %}
								<option value={{ mod }}>{{ mod }}</option>
								{% endfor %}
							</select>
						</div>
						<!-- end col -->
						<div class="col-lg-4">
							<label for="sel_channel">Channel:</label>
							<select class="form-control" id="sel_channel">
								{% for ch in range(16) %}
								<option value={{ ch }}>{{ ch }}</option>
								{% endfor %}
							</select>
						</div>
						<!-- end col -->
						<div class="col-lg-4">
							<div class="row"></div>
							<label for="sel_module"></label>
							<button type="button" class="btn btn-success btn-block" id="submit_button" onclick="select_channel();">
								<span class="glyphicon glyphicon-ok"> OK</span>
							</button>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<!-- end panel body -->
			</div>
			<!-- end panel -->
			<div class="panel panel-default">
				<div class="panel-heading">Histogram</div>
				<div class="panel-body">
					<div id="graphdiv" style="width:800px; height:500px"></div>
				</div>
				<!-- end panel body -->
			</div>
			<!-- end panel -->
			<div class="panel panel-default">
				<div class="panel-heading">Status</div>
				<div class="panel-body">
					<h5>
						<b>Last update: </b>
						<span id="datetime"></span>
					</h5>
				</div>
				<!-- end panel body -->
			</div>
			<!-- end panel -->

		</div>
		<!-- end col -->
	</div>
	<!-- end row -->
</div>
<!-- end container -->


{% endif %} {% endblock body %}
